.main-section-container {
    width: 100%;
    height: 500vh;
    line-height: 50px;
    padding-top: 10%;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    position: relative;
}

.main-section-text-title {
    text-align: start;
    font-size: 1.5rem;
    color: #3182f6;
}


.main-section-text {
    width: 1200px;
    text-align: start;
    margin:0 auto;
    font-size: 2rem;
}


.cs-lock-out {
}

.css-screen {

    width:  330px;
    z-index: 999;
    position: relative;
    left: 470px;
    top: 120px;
}

.css-screen-01 {
    width: 610px;
    position: absolute;
}