.profile-container {
    height: 30vh;
    font-size: 30px;
    font-weight: 600;
    background-color: #f9fafb;
    text-align: center;
    position: relative;
    margin: 0;
    padding-top: 10%;
}
